@{
    ViewData["Title"] = "Clientes";
}


<h1 class="fs-1 fw-lighter my-5">Clientes</h1>

<div class="d-flex w-100 justify-content-end">
  <!-- Button trigger modal -->
  <button
    type="button"
    class="btn btn-success w-25 d-flex gap-2 align-items-center justify-content-center"
    id="btnOpenModal"
    data-bs-toggle="modal"
    data-bs-target="#registerModal"
    onclick="abrirModal()"
  >
    <box-icon type='solid' name='plus-circle' color="#fff"></box-icon>
    Registrar cliente
  </button>
</div>

<div id="table" class="table-responsive my-3"></div>

<!-- Modal de registro -->
<div
  class="modal fade"
  id="registerModal"
  tabindex="-1"
  aria-labelledby="registerModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="registerModalLabel">Formulario Cliente</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form id="modal-form" class="modal-body d-flex flex-column gap-2">
        <input type="text" name="nclienteid" id="nclienteid" class="form-control clear-data d-none" />
        <div>
          <label class="form-label fw-normal text-secondary">Nombres: <span class="text-danger">*</span></label>
          <input type="text" name="cclientenombres" id="cclientenombres" class="form-control clear-data" />
        </div>
        <div>
          <label class="form-label fw-normal text-secondary">Apellido paterno: <span class="text-danger">*</span></label>
          <input type="text" name="cclienteapellidopaterno" id="cclienteapellidopaterno" class="form-control clear-data" />
        </div>
        <div>
          <label class="form-label fw-normal text-secondary">Apellido materno: <span class="text-danger">*</span></label>
          <input type="text" name="cclienteapellidomaterno" id="cclienteapellidomaterno" class="form-control clear-data" />
        </div>
        <div>
          <label class="form-label fw-normal text-secondary">Tipo de documento: <span class="text-danger">*</span></label>
            <select name="ntipodocumento" id="ntipodocumento" class="form-select clear-data">
                <option value="">Seleccione su tipo de documento...</option>
                <option value="DNI">DNI</option>
                <option value="PASAPORTE">PASAPORTE</option>
            </select>
        </div>
        <div>
          <label class="form-label fw-normal text-secondary">Número de documento: <span class="text-danger">*</span></label>
          <input type="text" maxlength="20" name="cclientedocumentoidentidad" id="cclientedocumentoidentidad" class="form-control clear-data" />
        </div>
        <div>
          <label class="form-label fw-normal text-secondary clear-data">Genero: <span class="text-danger">*</span></label>
          <select name="cclientegenero" id="cclientegenero" class="form-select clear-data">
            <option value="">Seleccione su genero...</option>
            <option value="M">Masculino</option>
            <option value="F">Femenino</option>
          </select>
        </div>
        <div>
          <label class="form-label fw-normal text-secondary">Email: <span class="text-danger">*</span></label>
          <input type="text" name="cclienteemail" id="cclienteemail" class="form-control clear-data" />
        </div>
        <div>
          <label class="form-label fw-normal text-secondary">Teléfono: <span class="text-danger">*</span></label>
          <input type="number" name="cclientetelefono" id="cclientetelefono" class="form-control clear-data" maxlength="9" />
        </div>
        <div>
          <label class="form-label fw-normal text-secondary">Dirección: <span class="text-danger clear-data">*</span></label>
          <textarea class="form-control clear-data" name="cclientedireccion" id="cclientedireccion" rows="4"></textarea>
        </div>
        <div>
          <label class="form-label fw-normal text-secondary">Fecha de nacimiento: <span class="text-danger">*</span></label>
          <input type="date" name="dclientefechanacimiento" id="dclientefechanacimiento" class="form-control clear-data"/>
        </div>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btnCloseModal">
          Close
        </button>
        <button type="button" class="btn btn-primary" id="btnEnviarDatos">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>

<script src="~/js/Cliente/form-validation.js"></script>
@* <script src="~/js/generate-table.js" type="module"></script>
<script src="~/js/Cliente/listar.js" type="module"></script>
<script src="~/js/Cliente/create-update.js" type="module"></script>
<script src="~/js/Cliente/abrir.modal.js"></script> 
<script src="~/js/Cliente/delete.js" type="module"></script>  *@

<script src="~/js/Cliente/cliente.js" type="module"></script>