@{
  ViewData["Title"] = "Seguros";
}


<h1 class="fs-1 fw-lighter my-5">Seguros</h1>

<div class="d-flex w-100 justify-content-end">
  <!-- Button trigger modal -->
  <button
    type="button"
    class="btn btn-success w-25 d-flex gap-2 align-items-center justify-content-center"
    id="btnOpenModal"
    data-bs-toggle="modal"
    data-bs-target="#registerModal"
    onclick="abrirModal()"
  >
    <box-icon type='solid' name='plus-circle' color="#fff"></box-icon>
    Registrar seguro
  </button>
</div>

@* Tabla *@
<div id="table" class="table-responsive my-3"></div>

<!-- Modal de registro -->
<div
  class="modal fade"
  id="registerModal"
  tabindex="-1"
  aria-labelledby="registerModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="registerModalLabel">Formulario Seguro</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form id="modal-form" class="modal-body d-flex flex-column gap-2">
        <input type="text" name="nseguroid" id="nseguroid" class="form-control clear-data d-none" />
        <div>
          <label class="form-label fw-normal text-secondary">Seleccionar compañia: <span class="text-danger">*</span></label>
            <select name="ncompaniaid" id="ncompaniaid" class="form-select clear-data">
            </select>
        </div>
        <div>
          <label class="form-label fw-normal text-secondary">Número de seguro: <span class="text-danger">*</span></label>
          <input type="text" name="cseguronumero" id="cseguronumero" class="form-control clear-data" />
        </div>
        <div>
          <label class="form-label fw-normal text-secondary">Tipo de seguro: <span class="text-danger">*</span></label>
          <input type="text" name="ntiposeguro" id="ntiposeguro" class="form-control clear-data" />
        </div>
        <div>
            <label class="form-label fw-normal text-secondary">Descripción: <span class="text-danger">*</span></label>
            <textarea name="csegurodescripcion" id="csegurodescripcion" class="form-control clear-data" rows="4"></textarea>
        </div>
        <div>
            <label class="form-label fw-normal text-secondary">Factor impuesto: <span class="text-danger">*</span></label>
            <input name="nsegurofactorimpuesto" id="nsegurofactorimpuesto" class="form-control clear-data" type="number" />
        </div>
        <div>
            <label class="form-label fw-normal text-secondary">Comisión (%): <span class="text-danger">*</span></label>
            <input name="nseguroporcentajecomision" id="nseguroporcentajecomision" class="form-control clear-data" type="number" />
        </div>
        <div>
            <label class="form-label fw-normal text-secondary">Monto prima: <span class="text-danger">*</span></label>
            <input name="nseguromontoprima" id="nseguromontoprima" class="form-control clear-data" type="number" />
        </div>
        <div>
          <label class="form-label fw-normal text-secondary">Tipo de moneda: <span class="text-danger">*</span></label>
            <select name="nmonedaid" id="nmonedaid" class="form-select clear-data">
              <option value="">Seleccione...</option>
              <option value="PEN">PEN</option>
              <option value="USD">USD</option>
            </select>
        </div>
        <div>
            <label class="form-label fw-normal text-secondary">Edad máxima: <span class="text-danger">*</span></label>
            <input name="nseguroedadmaxima" id="nseguroedadmaxima" type="number" class="form-control clear-data" />
        </div>
        <div>
          <label class="form-label fw-normal text-secondary">Fecha de vigencia: <span class="text-danger">*</span></label>
          <input type="date" name="dsegurofechavigencia" id="dsegurofechavigencia" class="form-control clear-data"/>
        </div>
        <div>
            <label class="form-label fw-normal text-secondary">Importe mensual: <span class="text-danger">*</span></label>
            <input name="nseguroimportemensual" id="nseguroimportemensual" type="number" class="form-control clear-data" />
        </div>
        <div>
            <label class="form-label fw-normal text-secondary">Cobertura: <span class="text-danger">*</span></label>
            <input name="nsegurocobertura" id="nsegurocobertura" type="number" class="form-control clear-data" />
        </div>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btnCloseModal">
          Close
        </button>
        <button type="button" class="btn btn-primary" id="btnEnviarDatos">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>

<script src="~/js/Seguro/form-validation.js"></script>
<script type="module" src="~/js/Seguro/seguro.js"></script>